<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runes++</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div class="holder">
        <div class="loader"></div>
        <h2 style="color: #cfb664; font-family: 'Open Sans', sans-serif;">Finding League Of Legends...</h2>
    </div>
</body>
</html>