html, body {
    background-color: rgb(49, 23, 44);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
} 

.loader {
    border: 16px solid #cfb66471; /* Light grey */
    border-top: 16px solid #cfb664; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 4s linear infinite;
}

.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}