@font-face {
font-family: 'Friz Quadrata Regular OS';
font-style: normal;
font-weight: normal;
src: local('Friz Quadrata Regular OS'), url('friz-quadrata-regular-os-5870333951e7c.woff') format('woff');
}


@font-face {
font-family: 'Friz Quadrata Bold Italic OS';
font-style: normal;
font-weight: normal;
src: local('Friz Quadrata Bold Italic OS'), url('friz-quadrata-bold-italic-os-5870341205e0f.woff') format('woff');
}